.App {
  background-color: #777777;
  min-height: 100vh;
}


.App-header {
  background-color: #333333;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  min-height: 100%;
}

.footer {
  position: sticky;
  top: 100vh;
  background-color: #111111;
  color: aliceblue;
  height: 10vh;
  padding: 1rem;
}
